{
    "accounts": {
        "dev": "111111111111",
        "test": "222222222222",
        "prod": "333333333333"
    },
    "default_tags": {
        "group-cost-centre": "44444",
        "group-opco-code": "",
        "group-project": "my-project-name"
    },
    "infra_prefix": "my-project-name",
    "region": "eu-west-1",
    "github_role_name": "github-actions-role"
}