name: Run terraform from PR

on:
  pull_request:
    paths:
      - '*.tf'

jobs:
  call-terraform-workflow:
    permissions:
      pull-requests: write
      id-token: write
      contents: read
    uses: liamfit/workflow-library/.github/workflows/terraform-plan-and-apply.yml@becb8879700289839587c2038972a76638a84450
    with:
      environment: 'mgmt'
      terraform-version: '1.3.6'
      exclude-files: '".git*" "bootstrap*" "README.md" "mgmt-infra.png"'
    secrets: inherit